* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
}


#main {
    width: inherit;
    height: inherit;
    display: flex;
    z-index: 1000;
    position: absolute;
        background:linear-gradient(to right, rgb(139, 103, 76) 0%, rgb(139, 103, 76) 100%);

}


video {
    width: 100%;
}


#form {
    position: absolute;
    width: 100%;
    background-color: transparent;
    height: 100%;
    display: none;
}

form {
    width: 70%;
    height: 30%;
    background-color: rgb(221, 218, 168);
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}

form div {
    width: 100%;
    height: 50%;
}

.info-container, .submit-btn {
    display: flex;
}


.info-container {
    padding-top: 50px;
}

.info-container p {
    font-size: 20px;
    margin: auto;
    font-weight: 600;
    color: rgb(216, 128, 56);
    text-align: center;
}


.submit-btn .button {
    width: 70%;
    background-color: beige;
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 7px 0px 0px rgb(87, 87, 87);
    margin: auto;
    display: flex;
}

.submit-btn .button:hover {
    background-color: rgb(224, 143, 37);
    transform: translateY(7px);
    box-shadow: none;
    color: white;
    transition: all 0.5s;
}


.submit-btn .button p {
    margin: auto;
}

html body #main .next, html body #main .begin, html body #main .form-main {
    display: none;
    opacity: 0.5;
}

html body #main .next.active, html body #main .begin.active, html body #main .form-main.active {
    opacity: 1;
    transition: all 0.5s;
    display: flex;
}


.main-video {
    display: none;
}
